{
  "name": "@goldenratio/${node_pkg}",
  "version": "${version}",
  "description": "Convert TypeScript types to Swift/Kotlin types ",
  "author": "Karthik VJ",
  "license": "MIT",
  "homepage": "https://github.com/goldenratio/type-transform",
  "bugs": {
    "url": "https://github.com/goldenratio/type-transform/discussions"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/goldenratio/type-transform.git"
  },
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_cpu}"
  ],
  "files": [
    "bin/"
  ],
  "publishConfig": {
    "access": "public"
  }  
}
